.friend{
	background-color: rgba(0, 255, 255, 0.374);
}

.not-friend{
	background-color: rgba(255, 228, 196, 0.525);
}
.message {
  margin: 1rem;
  padding: 0.5rem;
  border: 0.1rem solid grey;
}
.card {
  margin: 1rem;
  box-shadow: rgb(128 128 128 / 19%) 0.25rem 0.35rem;
}

.card-sender-wrapper {
  /* display: flex; */
  margin: 2rem 2rem 2rem 2em;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.card-message-wrapper {
  /* display: flex; */
  margin: 3rem 2rem 2rem 2em;
}

.card-text {
  margin: 0rem 1rem 0rem 1rem;
}

.card-body {
  display: flex;
}

.card-title {
  padding: 0rem 0rem 1rem 0rem;
}

/* .messages-card{
	margin: 1rem;
    box-shadow: rgb(128 128 128 / 19%) 0.25rem 0.35rem;
} */


.form{
	display: flex;
	flex-direction: column;
	margin:1rem;
}

.new-message-button{
	margin:2rem 10rem 0rem 10rem;
}

.profilepic{
  border-radius: 25%;
  height: 15em;
  width: auto;
}