.article {
  margin: 1rem;
  padding: 1rem;
  border: rgba(128, 128, 128, 0.659) 0.1rem solid;
  box-shadow: rgba(128, 128, 128, 0.187) 0.25rem 0.35rem;
  border-radius: 0.75rem;
}

.button {
  margin: 0.25rem;
  padding: 0.25rem;
  border: rgba(128, 128, 128, 0.659) 0.1rem solid;
  background-color: rgba(0, 255, 166, 0.427);
}

.friend_article {
  background-color: cornsilk;
  font-style: italic;
}

.ariticle_Form{
	margin: 2rem 10rem 2rem 10rem;
}

.news_articles{
	margin: 2rem 10rem 2rem 10rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.article_header{
	text-align: center;
	margin: 1rem 0rem 2rem 0rem;
	/* text-shadow: 0 .25rem .5rem rgba(0, 0, 0, 0.69); */
}


.new_article_button{
	margin: 1rem 25rem 1rem 25rem;
}