@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');



.task {
    border: 1px dotted blue;
    margin: 1rem;
}

h1 {
    font-family: "Nanum Pen Script", sans-serif;
}