@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');



.task_list {
    display: flex;
    flex-wrap: wrap;
}

.task {
    /* border: 1px dotted blue; */
    margin: 1em;
    padding: 1rem;
    flex-basis: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.task_header {
    font-family: "Nanum Pen Script", sans-serif;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: .5rem;
}

.btns {
    border-radius: 10%;
    /* border: black dotted 2px; */
    padding: 1px;
    
}

.checked {
    border-radius: 10%;
    /* border: black dotted 2px; */
    padding: 1px;
}

.newtaskbtn{
    display: flex;
    justify-content: center;
    margin-top: 1em;
}