.user_header{
	text-align: center;
	margin: 2rem 0rem .5rem 0rem;
}

.user-friend-buttons{
	margin: 1rem;
	padding: .5rem;
	display: flex;
	justify-content: space-evenly;

}

.search_bar{
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	margin:2rem 25rem 2rem 25rem;
}

.user-friend{
	justify-content: space-between;
}

.card{
	border-radius: .25rem;
}

button {
	border-radius: .15rem;
}